<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiCheck.Console" version="1.1.83" targetFramework="net461" />
  <package id="GDataDB" version="0.6.1.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.35.1.1335" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
</packages>